<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Left: Branding & About -->
        <div class="col-lg-4 col-md-6 text-center text-md-start">
          <h4 class="footer-title">Portfolio</h4>
          <p class="footer-text">Creative Frontend Developer passionate about crafting interactive experiences.</p>
        </div>
  
        <!-- Middle: Quick Navigation -->
        <div class="col-lg-4 col-md-6 text-center">
          <h4 class="footer-title">Quick Links</h4>
          <ul class="footer-links">
            <li><a href="javascript:void(0)" (click)="scrollToSection('home')">Home</a></li>
            <li><a href="javascript:void(0)" (click)="scrollToSection('about')">About</a></li>
            <li><a href="javascript:void(0)" (click)="scrollToSection('projects')">Projects</a></li>
            <li><a href="javascript:void(0)" (click)="scrollToSection('contact')">Contact</a></li>
          </ul>
        </div>
  
        <!-- Right: Social Media Links -->
        <div class="col-lg-4 text-center text-md-end">
          <h4 class="footer-title">Connect With Me</h4>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/ikram-ul-haq-khan-274652218" target="_blank">
              <i class="pi pi-linkedin"></i>
            </a>
            <a href="https://github.com/" target="_blank">
              <i class="pi pi-github"></i>
            </a>
            <a href="mailto:ikramulhaqkhan0311@gmail.com">
              <i class="pi pi-envelope"></i>
            </a>
          </div>
        </div>
      </div>
  
      <!-- Bottom: Copyright -->
      <div class="text-center mt-4">
        <hr class="footer-line">
        <p class="mb-0">© {{ currentYear }} Ikram Ul Haq Khan. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  